.table_competences {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}

.table_competences tr td {
	border: 1px solid black;
	padding: 2px;
}
		
.table_competences tr th {
	border: 1px solid black;
	padding: 2px;
	background-color: #595959;
	color: #ffffff;
}

.propor15 {
	width: 15%;
}

.propor20 {
	width: 20%;
}

.propor30 {
	width: 30%;
}

.propor40 {
	width: 40%;
}

.propor33 {
	width: 33.3%;
}

.propor50 {
	width: 50%;
}

.table_competences tr .subHeader {
  background-color: #7F7F7F;
	color: #ffffff;
}