.myNodeClass {
    text-align: center;
    vertical-align: middle;
    font-family:sans-serif;
    cursor: default;
    border: 2px solid #660000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    background-color: #ffe6e6;
}

.myNodeClass {
	width:220px;
}

.myNodeClass h1 {
	font-size: 15px;
}


#menu-cat-maitrises{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-cat-maitrises li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}

#menu-cat-maitrises li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu-cat-maitrises li:first-child{
background-color: #E0F2F7;
background-image:-webkit-linear-gradient(top, #E0F2F7 0%, #848484 100%);
background-image:linear-gradient(to bottom, #E0F2F7 0%, #848484 100%);
}	
	
#menu-cat-maitrises li:nth-child(2){
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #734D9D 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #734D9D 0%, #2A2333 100%);
}
#menu-cat-maitrises li:nth-child(3){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #D81D20 0%, #7F3A40 100%);
background-image:linear-gradient(to bottom, #D81D20 0%, #7F3A40 100%);
}
#menu-cat-maitrises li:nth-child(4){
background-color: #F6AD1A;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu-cat-maitrises li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #55A258 0%, #2F4930 100%);
background-image:linear-gradient(to bottom, #55A258 0%, #2F4930 100%);
}
/* background des liens sous menus */
#menu-cat-maitrises li:first-child li{
background:#2A2333;
}
#menu-cat-maitrises li:nth-child(2) li{
background:#333A40;
}
#menu-cat-maitrises li:nth-child(3) li{
background:#333A40;
}
#menu-cat-maitrises li:last-child li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menu-cat-maitrises li:hover, #menu-cat-maitrises li li:hover{
background:#8A8C8C;
}

/* les a href */
#menu-cat-maitrises a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-cat-maitrises ul a{
padding:8px 0;
}
#menu-cat-maitrises li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu-cat-maitrises li:hover a, #menu-cat-maitrises li li:hover a{
color:#000;
}


#submenu{
padding:0;
padding-top: 25px;
margin:0;
list-style:none;
text-align:center;
}
#submenu li{
margin-bottom: 10px;
display:inline-block;
border-radius:5px 5px 5px 5px;
background-color: #800000;
}

#submenu a{
text-decoration:none;
display:block;
padding:8px 15px;
color:#fff;
font-family:arial;
}


label
{
    display: block;
    width: 150px;
    float: left;
}

.shortNb
{
    width: 3em;
}

