<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
	<style type="text/css">
		.table_competences {
			border: 1px solid black;
			border-spacing: 0px;
			border-collapse: collapse;
		}
		.table_competences tr td {
			border: 1px solid black;
			padding: 2px;
		}
		
		.table_competences tr th {
			border: 1px solid black;
			padding: 2px;
		}
	</style>
</head>

<body>
{PRENOM} {NOM} (vrai pr&eacute;nom NOM)<br>
{nom_perso}<br>
22 ans <br>
Anciennet&eacute;e : TODO 

<table class="table_competences">
<tr>
	<th>Mana</th>
	<th>Coups</th>
	<th>Force Physiques</th>
	<th colspan="3">Armure : {armure}</th>
</tr>
<tr>
	<td rowspan="2">{mana}</td>
	<td rowspan="2">{coups}</td>
	<td rowspan="2">{force_physique}</td>
	<td>Esquive</td>
	<td>R&eacute;siste</td>
	<td>Immunit&eacute;</td>
</tr>
<tr>
	<td>{esquive}</td>
	<td>{resiste}</td>
	<td>{immunite}</td>
</tr>
</table>

<br>

<table class="table_competences">
<tr>
	<td></td>
	<th>Maitrise de BELLIGERANCE</th>
</tr>
<tr>
	<th>RUDIMENTAIRE</th><td>{comp_belligerance_lvl1}</td>
</tr>
<tr>
	<th>CERTAINE</th><td>{comp_belligerance_lvl2}</td>
</tr>
<tr>
	<th>RARE</th><td>{comp_belligerance_lvl3}</td>
</tr>
<tr>
	<th>EXCEPTIONNELLE</th><td>{comp_belligerance_lvl4}</td>
</tr>
</table>

<br>

<table class="table_competences">
<tr>
	<td></td>
	<th>Maitrise d'INTRIGUE</th>
</tr>
<tr>
	<th>RUDIMENTAIRE</th><td>{comp_intrigue_lvl1}</td>
</tr>
<tr>
	<th>CERTAINE</th><td>{comp_intrigue_lvl2}</td>
</tr>
<tr>
	<th>RARE</th><td>{comp_intrigue_lvl3}</td>
</tr>
<tr>
	<th>EXCEPTIONNELLE</th><td>{comp_intrigue_lvl4}</td>
</tr>
</table>

<br>

<table class="table_competences">
<tr>
	<td></td>
	<th>Maitrise d'OCCULTISME</th>
</tr>
<tr>
	<th>RUDIMENTAIRE</th><td>{comp_occultisme_lvl1}</td>
</tr>
<tr>
	<th>CERTAINE</th><td>{comp_occultisme_lvl2}</td>
</tr>
<tr>
	<th>RARE</th><td>{comp_occultisme_lvl3}</td>
</tr>
<tr>
	<th>EXCEPTIONNELLE</th><td>{comp_occultisme_lvl4}</td>
</tr>
</table>

<br>

<table class="table_competences">
<tr>
	<td></td>
	<th>Maitrise de SOCIETE</th>
</tr>
<tr>
	<th>RUDIMENTAIRE</th><td>{comp_societe_lvl1}</td>
</tr>
<tr>
	<th>CERTAINE</th><td>{comp_societe_lvl2}</td>
</tr>
<tr>
	<th>RARE</th><td>{comp_societe_lvl3}</td>
</tr>
<tr>
	<th>EXCEPTIONNELLE</th><td>{comp_societe_lvl4}</td>
</tr>
</table>

<br>

<table class="table_competences" >
<tr>
	<th colspan="2">Capacit&eacute;s sp&eacute;ciales (Hors combat)</th>
</tr>
<tr>
	<th>EFFET</th>
	<th>FREQUENCE D'USAGE</th>
</tr>
<!-- BEGIN capacite -->
<tr>
	<td>{capacite.effet}</td>
	<td>{capacite.frequence}</td>
</tr>
<!-- END capacite -->
</table>


<br>

<table class="table_competences" >
<tr>
	<th>AMELIORATIONS &amp; STRATEGIES </th>
</tr>
<!-- BEGIN amelioration -->
<tr>
	<td>{amelioration.nom}</td>
</tr>
<!-- END amelioration -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th colspan="2">ATTAQUES SPECIALES DISPONIBLES</th>
</tr>
<tr>
	<th>MANIEMENT</th>
	<th>ATTAQUES SPECIALES</th>
</tr>
<tr>
	<td>Armes basiques à 1 main (&eacute;p&eacute;e de taille de lame <80cm)</td>
	<td>aucune</td>
</tr>
</table>


<br>

<table class="table_competences" >
<tr>
	<th>POSSESSIONS</th>
	<th>Lieux de Pouvoir</th>
</tr>
<tr>
	<td>1 PA</td>
	<td>{lieux_pouvoir}</td>
</tr>
</table>

<br>

<table class="table_competences" >
<tr>
	<th>PARCELLES</th>
</tr>
<!-- BEGIN parcelle -->
<tr>
	<td>{parcelle.nom}</td>
</tr>
<!-- END parcelle -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th>CONNAISSANCES</th>
</tr>
<!-- BEGIN connaissance -->
<tr>
	<td>{connaissance.nom}</td>
</tr>
<!-- END connaissance -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th>Niveau de langues : {niveau_langue}</th>
</tr>
<tr>
	<th>LANGUES CONNUES (parl&eacute;es)</th>
</tr>
<tr>
	<td>Norland&eacute;en</td>
</tr>
	<!-- BEGIN langue -->
<tr>
	<td>{langue.nom}</td>
</tr>
	<!-- END langue -->
</table>

<br>


<table class="table_competences" >
<tr>
	<th colspan="2">Attaques Spéciales</th>
</tr>
<tr>
	<th>Type</th>
	<th>Effet</th>
</tr>
	<!-- BEGIN attaque_spe -->
<tr>
	<td>{attaque_spe.type}</td>
	<td>{attaque_spe.nom}</td>
</tr>
	<!-- END attaque_spe -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th colspan="3">PIEGES & TECHNIQUES</th>
</tr>
<tr>
	<th>Nom / type /niveau</th>
	<th>Co&ucirc;t</th>
	<th>Effet</th>
</tr>
<!-- BEGIN technique -->
<tr>
	<td>{technique.nom}</td>
	<td>{technique.cout}</td>
	<td>{technique.effet}</td>
</tr>
<!-- END technique -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th colspan="3">CAPACITES OCCULTES</th>
</tr>
<tr>
	<th>Nom / type /niveau</th>
	<th>Co&ucirc;t</th>
	<th>Effet</th>
</tr>
<!-- BEGIN capa_occulte -->
<tr>
	<td>{capa_occulte.nom}</td>
	<td>{capa_occulte.cout}</td>
	<td>{capa_occulte.effet}</td>
</tr>
<!-- END capa_occulte -->
</table>


<br>

<table class="table_competences" >
<tr>
	<th colspan="2">POUVOIRS MAGIQUES</th>
</tr>
<tr>
	<th>Nom / type / mana</th>
	<th>Effet</th>
</tr>
<!-- BEGIN pouvoir -->
<tr>
	<td>{pouvoir.nom}</td>
	<td>{pouvoir.effet}</td>
</tr>
<!-- END pouvoir -->
</table>

<br>

<table class="table_competences" >
<tr>
	<th colspan="3">SORTILEGES</th>
</tr>
<tr>
	<th>Nom</th>
	<th>Formule</th>
	<th>Effet</th>
</tr>
<!-- BEGIN sortilege -->
<tr>
	<td>{sortilege.nom}</td>
	<td>{sortilege.formule}</td>
	<td>{sortilege.effet}</td>
</tr>
<!-- END sortilege -->
</table>

<br>


<table class="table_competences" >
<tr>
	<th colspan="3">SORTS DE MASSE<br>(réduit le mana à 0)</th>
</tr>
<tr>
	<th>Nom</th>
	<th>Formule</th>
	<th>Effet</th>
</tr>
<!-- BEGIN sort_masse -->
<tr>
	<td>{sort_masse.nom}</td>
	<td>{sort_masse.formule}</td>
	<td>{sort_masse.effet}</td>
</tr>
<!-- END sort_masse -->
</table>

<p>
<h3>Aides de jeu :</h3>
{aide_jeu}
</p>

<p>
<h3>Possessions de départ</h3>
	<ul>
<!-- BEGIN possession -->
		<li>{possession.nom}</li>
<!-- END possession -->
	</ul>
</p>

<p>
<h3>Objets de jeu à prévoir</h3>
	<ul>
<!-- BEGIN a_prevoir -->
		<li>{a_prevoir.nom}</li>
<!-- END a_prevoir -->
	</ul>
</p>


<p>
<h3>Historique</h3>
{historique}
</p>


</body>
</html>


